:root {
  --background-color: #885dde;
  --primary-color: #2869be;
  --background-gradient-1: #4e5d90e3;
  --background-gradient-2: #1c1c1cf2;
  --red-text-color: #ff4444;
  --red-text-lighter: #ff6a6a;
  --white-text-color: rgb(220, 220, 220);
  --animation-duration: 1.5s;
  --animation-delay-factor: 0.8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 10px;
}

.text-primary-red {
  color: var(--red-text-color);
}

.text-bold {
  font-weight: bold;
}

/*  
   NAVBAR
*/
.header__container {
  height: 100vh;
  background-image: linear-gradient(to bottom right, #4e5d90e3, #1c1c1cf2),
    url("/assets/background3-taxi.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.navbar {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  margin: 0 auto;
  text-align: center;
}

.navbar .logo h1 {
  color: var(--red-text-color);
  font-size: 4rem;
  font-weight: 300;
  padding-left: 10px;
}

.navbar ul {
  list-style: none;
  font-size: 0;
}

.navbar ul li {
  display: inline-block;
  font-size: 1.2rem;
  padding-right: 5px;
  padding-left: 5px;
  min-width: 90px;
}

.nav-item a {
  text-decoration: none;
  color: var(--red-text-color);
  transition: 0.5s;
}

.nav-item {
  color: var(--red-text-color);
}

a:hover {
  color: var(--white-text-color);
}

a::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  cursor: pointer;
}

/* HEADER DESCRIPTION SECTION */
.header__description_container {
  width: 100%;
  color: var(--white-text-color);
  letter-spacing: 5px;
  font-size: 1.3rem;
  text-align: center;
  line-height: 8vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header__description {
  font-weight: lighter;
}

.intro-animation-delay-1 {
  display: inline-block;
  animation: fadeInIntro;
  animation-fill-mode: backwards;
  animation-duration: var(--animation-duration);
  animation-delay: calc(var(--animation-delay-factor) * 0.5s);
}

.intro-animation-delay-1-5 {
  display: inline-block;
  animation: fadeInIntro;
  animation-fill-mode: backwards;
  animation-duration: var(--animation-duration);
  animation-delay: calc(var(--animation-delay-factor) * 1.5s);
}

.header__description.subtitle {
  animation: fadeInIntro;
  animation-duration: var(--animation-duration);
  animation-delay: calc(var(--animation-delay-factor) * 2.5s);
  animation-fill-mode: backwards;
}

.header__subtitle {
  font-weight: lighter;
}

.header__subtitle_phone {
  font-weight: 500;
  font-size: 4rem;
  color: var(--red-text-color);
  animation: fadeInIntro;
  animation-duration: var(--animation-duration);
  animation-delay: calc(var(--animation-delay-factor) * 3.5s);
  animation-fill-mode: backwards;
  color: var(--red-text-color);
}

.header__bottom_details {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 1.5rem;
  color: var(--white-text-color);
  width: 100%;
  padding: 20px;
}

/*KEYFRAMES */
@keyframes fadeInIntro {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*  MEDIA QUERIES */
@media screen and (max-width: 1550px) {
  .navbar {
    width: 100%;
  }

  .navbar .logo h1 {
    font-size: 3rem;
  }

  .header__description {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 700px) {
  .navbar .logo h1 {
    font-size: 3rem;
  }

  .header__description {
    font-size: 1.7rem;
  }
}
