:root {
  --background-color: #885dde;
  --primary-color: #2869be;
  --background-gradient-1: #4e5d90e3;
  --background-gradient-2: #1c1c1cf2;
  --red-text-color: #ff4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 5px;
  line-height: 80px;
  font-size: 1.3rem;
  font-weight: lighter;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #4e5d90e3, #1c1c1cf2),
    url("/assets/background3-taxi.jpg");
  background-size: cover;
  background-position: center center;
}

.header__title {
  font-weight: lighter;
}

.header__title.intro {
  animation: fadeInIntro;
  animation-fill-mode: backwards;
  animation-duration: 2s;
  animation-delay: 1s;
}

.header__title.subtitle {
  animation: fadeInIntro;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: backwards;
}

.header__subtitle {
  font-weight: lighter;
}

.header__subtitle_today {
  font-weight: 700;
  font-size: 4rem;
  color: var(--red-text-color);
  animation: fadeInIntro;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-fill-mode: backwards;
}

@keyframes fadeInIntro {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
  }
}

/* 
  MIDDLE SECTION
*/

.middle__section {
  height: 50vh;
  background-color: var(--primary-color);
  filter: brightness(0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.middle__section_card {
  width: 250px;
  height: 350px;
  background-color: var(--primary-color);
  opacity: 0.4;
  text-align: center;
  margin-right: 20px;
}
